[user]
	name = Erik P. Hansen
	email = eph@erikphansen.com
[alias]
  co = checkout
  s = status
  com = commit -v
  b = branch
  l = log
  a = add
  aa = add .
  dt = difftool
  ri = rebase -i
  rim = rebase -i master
  graph = log --all --decorate --oneline --graph --date=relative
  graph2 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%ae>%Creset' --abbrev-commit --date=relative
[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto
  interactive = auto
[core]
	excludesfile = ~/.gitignore_global
  autocrlf = input
  editor = vim
[pager]
  diff = delta
  show = delta
  log = delta
  blame = delta
  reflog = delta
[delta]
  features = side-by-side line-numbers decorations
  syntax-theme = Dracula
  plus-style = syntax bold "#006000"
  minus-style = syntax bold "#600000"
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = cyan box ul
[delta "line-numbers"]
  line-numbers-left-style = cyan
  line-numbers-right-style = cyan
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28
[interactive]
  diffFilter = delta --color-only
[difftool]
  prompt = false
[difftool "sourcetree"]
  cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path =
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool "vscode"]
  cmd = code \"$LOCAL\" \"$REMOTE\" --diff --wait
[mergetool "sourcetree"]
  cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[diff]
  tool = Kaleidoscope
  renames = true
[mergetool]
  prompt = false
[merge]
  tool = Kaleidoscope
[push]
  default = current
[pull]
  rebase = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
